
  @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@300&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --vermelho: rgba(255, 0, 0, 0.8);
    --azul: rgb(45, 97, 240);
    --tamanho-padrao-letras: .9em;
    --identacao: 1.2em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(12, 12, 235, 0.2);
}

nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: .4em;
    width: 90%;
    margin: 4px auto 0;
    border-radius: 5px;
}

nav ul {
    list-style: none;
}

ul li a {
    color: white;
}

header {
    background-color: var(--vermelho);
    box-shadow: 1px 1px 1px;
    padding: .6em;
    text-align: center;
    font-size: .8em;
    font-family: 'Bowlby One SC', sans-serif;
}

/*introdução logo após o header*/
.primeiro_paragrafo {
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    font-size: 1em;
    padding: .2em;
}

.data_hora {
    font-size: .6em;
    margin-left: .7em;
}

.p_autor {
    font-size: .7rem;
}

.img_top {
    width: 90%;
    margin: 2em auto 0;
    z-index: 1;
}

.img_top img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .5em;
    box-shadow: 5px 3px 3px 5px;
}

.decoracao {
    background-color: var(--azul);
    height: 5.2em;
    position: relative;
    bottom: 3em;
    z-index: -1;
}

main {
    margin: -2em .4em 0;
}

main p {
    text-indent: var(--identacao);
    text-align: justify;
    font-size: var(--tamanho-padrao-letras);
}

.div_artigo {
    margin-top: 3em;
}

.div_artigo h3 {
    text-align: center;
    color: white;
    background-color: var(--azul);
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke-color: black;
}

.imagens_tutorial {
    width: 90%;
    margin: .5em auto 0;
    padding: 2em;
}

.imagens_tutorial img {
    border-radius: 10px;
    border: 1px solid var(--vermelho);
    width: 100%;
    box-shadow: 2px 3px 3px 1px;
}

.imagens_tutorial p {
    display: inline-block;
    font-size: .8em;
    text-align: center;
    line-height: 1.5em;
}

.icones {
    font-size: .5em;
}

@media screen and (min-width: 500px){
    
    body {
        font-weight: 600;
    }
    
    header h1 {
        font-size: 2em;
    }
    
    .primeiro_paragrafo {
        font-size: 1.2em;
    }
    
    .alterar_borda {
        margin: 0 10em 0;
        padding: 15px;
        border-left: 1px solid rgba(0, 0, 0, 0.4);
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }
    
    .img_top {
        width: 60vw;
        height: 80vh;
    }
    
    .imagens_tutorial {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 3em;
    }
    
    .imagens_tutorial img {
        width: 40%;
    }
    
    .imagens_tutorial img:hover {
        transform: scale(2, 2);
        transition-duration: .6s;
    }

    .imagens_tutorial p {
        text-align: left;
    }

    main p {
        text-indent: 0;
    }
    
    .div_artigo {
        margin: 0 2em 0;
    }
}
