:root {
    --vermelho: rgba(255, 0, 0, 0.8)
}

body {
    margin: 0;
    border: 0;
}

header {
    background-color: var(--vermelho);
    box-shadow: 1px 1px 1px;
}

header h1 {
    font-size: 1.4em;
    padding: .6em;
    text-align: center;
}

/*introdução logo após o header*/
.primeiro_paragrafo {
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    font-size: 1em;
    padding: .2em;
}

.data_hora {
    font-size: .6em;
    margin-left: .7em;
}

.p_autor {
    font-size: .7rem;
}

.img_top {
    width: 90%;
    margin: 2em auto 0;
}

.img_top img{
    width: 100%;
    height: 100%;
    border-radius: .5em;
}
  
@media screen and (min-width: 500px){
    header h1 {
        font-size: 2em;
    }

    .primeiro_paragrafo {
        font-size: 1.2em;
    }

    .alterar_borda {
        margin: 0 10em 0;
    }

    .img_top {
        width: 100%;
        height: 40em;
    }
}
  