@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --vermelho: rgba(255, 0, 0, 0.8);
  --azul: rgb(45, 97, 240);
  --tamanho-padrao-letras: .9em;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(12, 12, 235, 0.2);
}

header {
  background-color: var(--vermelho);
  box-shadow: 1px 1px 1px;
  padding: .6em;
  text-align: center;
  font-family: 'Bowlby One SC', sans-serif;
}

/*introdução logo após o header*/
.primeiro_paragrafo {
  color: rgba(0, 0, 0, 0.808);
  text-align: center;
  font-size: 1em;
  padding: .2em;
  margin-top: 1em;
}

.autor {
  font-size: .7rem;
  margin-top: .5em;

}

.img_top {
  max-width: 30em;
  margin: 2em auto 0;
  z-index: 1;
}

.img_top img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  box-shadow: 2px 2px 2px 1px;
}

.decoracao {
  background-color: var(--azul);
  height: 5.2em;
  position: relative;
  bottom: 3em;
  z-index: -1;
}

main {
  margin: 0 auto 0;
  padding: 0 1em 0;
  max-width: 55em;
}

main p {
  text-align: justify;
  font-size: var(--tamanho-padrao-letras);
}

.links_top a {
  font-size: .8em;
  text-decoration: none;
  color: white;

}

.links_top {
  position: relative;
  width: 15em;
  height: 1.5em;
  margin: 2em auto;
  padding: 1em;
  display: flex;
  gap: 1.6em;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 12, 235);
  border-radius: 3px;
}

.links_top::before,
.links_top::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(40deg, #c4c500, #fffa44, #ffa7e5, #f285e7,
      #ffa7e5, #fffa44, #c4c500, #fffa44, #ffa7e5, #f285e7,
      #ffa7e5, #fffa44, #c4c500, #fffa44, #ffa7e5, #f285e7,
      #ffa7e5, #fffa44);
  z-index: -1;
  background-size: 300%;
  border-radius: 5px;
  animation: AnimarBorda 8s linear infinite;
}

.links_top::after {
  filter: blur(5px);
}

@keyframes AnimarBorda {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 300%;
  }
}

.artigo {
  margin: 0 auto 0;
}

.artigo p {
  margin: 5px auto 0;
}

.artigo h3 {
  text-align: center;
  color: white;
  background-color: var(--azul);
  border-radius: 0 15px 0;
  margin: 2em auto 0;
  padding: .5em;
}

.tutorial {
  width: 100%;
  margin: 1em auto 0;
}

.tutorial p {
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.tutorial img {
  display: block;
  max-width: 18em;
  margin: 0 auto 1em;
  border-radius: 10px;
  border: 1px solid var(--vermelho);
  box-shadow: 2px 3px 3px 1px;
}

.ferramentas_scratch {
  list-style: decimal;
  font-size: .9em;
  text-align: left;
  padding: 1em;
}

.ferramentas_scratch li {
  margin: 0 auto 1em;
}

footer {
  background-color: rgba(241, 241, 241, 0.5);
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  font-size: 2em;
}

footer ul li {
  box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.2);
  padding: 0 3px;
  border-radius: 3px;
}

footer .icones_redes {
  color: transparent;

  -webkit-text-stroke: 1px var(--azul);
}


@media screen and (min-width: 900px) {

  .tutorial img {
    width: 45%;
  }

  .tutorial p {
    max-width: 60em;
  }

  .links_top {
    width: 30em;
    gap: 10em;
    margin: 2.5em auto;
  }


}